.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  z-index: 2;
  color: var(--color-gray-600);
  border-bottom: solid 0.3px var(--color-gray-400);
}

.navbar-wrapper {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.logo {
  width: 110px;
  margin-bottom: 2px;
  margin-right: 3rem;
}

@media (max-width: 991px) {
  .navbar-links {
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: auto;
    padding: 1rem;
    overflow-x: auto;
    background-color: var(--color-white);
    border-top: 0.063rem solid var(--color-gray-5);
  }

  .navbar-links li:last-child {
    order: -1;
  }
}
