.bt {
  background-color: transparent;
  border-radius: 0.25rem;
  height: 2.375rem;
  /* padding: 0 1rem; */
  color: var(--color-gray-600);
  font-size: var(--font-3);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-1);
  font-weight: 400;
  cursor: pointer;
}

.bt:hover {
}

.bt:focus {
  background-color: var(--color-gray-100);
  color: var(--color-white);
}

.bt-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 0.063rem solid var(--color-gray-600);

  padding: 10px 12px;
  font-weight: 500;
}

.bt-secondary {
  border: 2px solid #e0e2e4;

  padding: 9px 10px;
  background: #fff;
  border-radius: 5px;
  font-weight: 500;
}

.bt-secondary:hover {
  background-color: var(--color-gray-600);
  color: var(--color-gray-100);
}

.bt-primary:hover {
  background-color: var(--color-gray-600);
  color: var(--color-gray-100);
}

.bt-home {
  font-weight: 500;
  height: 3.3rem;
  padding: 16px 34px 15px 34px;
}
